In [42]:
import requests
from bs4 import BeautifulSoup as soup
import csv
import pandas as pd

In [43]:
header = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
          
          'referer': 'https://www.zillow.com/homes/houston_rb/'

}

In [44]:
url = "https://www.zillow.com/homes/houston_rb/"

html = requests.get(url=url, headers= header)
html.status_code

403

In [45]:
zillow = soup(html.content, 'lxml')

In [34]:
price_list = []

for price in zillow.find_all('div',{'class':'StyledPropertyCardDataArea-c11n-8-84-3__sc-yipmu-0 fDSTNn'}):
    price_list.append(price.text)

price_list

['$283,000',
 '$1,100,000',
 '$417,000',
 '$499,000',
 '$450,000',
 '$500,000',
 '$279,900',
 '$114,900',
 '$260,000']

In [31]:
address = []

for x in zillow.find_all('address',{'data-test':'property-card-addr'}):
    address.append(x.text)
    
address

['2343 Weathersfield Trace Cir, Houston, TX 77014',
 '1823 W Main St UNIT 4, Houston, TX 77098',
 '4306 Spencer St, Houston, TX 77007',
 '14815 Waterside View Ct, Houston, TX 77044',
 '9400 Radio Rd, Houston, TX 77075',
 '15223 Lakewood Forest Dr, Houston, TX 77070',
 '5322 Creek Shadows Dr, Humble, TX 77339',
 '6111 Westover St, Houston, TX 77033',
 '6315 Lost Timber Ln, Houston, TX 77066']

In [40]:
zillow_df = pd.DataFrame({'Address': address, 'Price': price_list})
zillow_df

                                           Address       Price
0  2343 Weathersfield Trace Cir, Houston, TX 77014    $283,000
1         1823 W Main St UNIT 4, Houston, TX 77098  $1,100,000
2               4306 Spencer St, Houston, TX 77007    $417,000
3       14815 Waterside View Ct, Houston, TX 77044    $499,000
4                 9400 Radio Rd, Houston, TX 77075    $450,000
5      15223 Lakewood Forest Dr, Houston, TX 77070    $500,000
6          5322 Creek Shadows Dr, Humble, TX 77339    $279,900
7              6111 Westover St, Houston, TX 77033    $114,900
8           6315 Lost Timber Ln, Houston, TX 77066    $260,000